.leaderboard-container {
    background-color: var(--background-dark);   
    border-radius: 16px;
    padding: 32px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4);
    color: white;
    font-family: Arial, sans-serif;
    height: 100%;
    margin-top: 24px;
}

.leaderboard-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.leaderboard-scroll {
    overflow-x: auto;
    max-width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: calc(100vh - 296px);
}

.leaderboard-scroll::-webkit-scrollbar {
    display: none;
}

table {
    width: 100%;
    font-family: monospace;
    font-size: 14px;
    border-collapse: collapse;
    margin: 10px 0 0 0;
}

thead {
    background-color: var(--background-dark);
    color: white;
}

tbody tr {
    border-bottom: 1px solid var(--background-light);
}

td, th {
    padding: 8px;
    text-align: center;
}

th {
    width: 160px;
}

tbody tr:last-child {
    border-bottom: none;
}