.search-container {
    background-color: var(--background-dark);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 40%;
    padding: 12px 18px;
    position: sticky;
    top: 0;
    z-index: 100;
}
  
.search-form {
    display: flex;
    align-items: center;
    gap: 12px;
}
  
.search-form input {
    flex: 1;
    padding: 10px 16px;
    border: none;
    border-radius: 16px;
    background-color: #000;
    color: white;
    font-size: 18px;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
}
  
.search-form input::placeholder {
    color: #aaa;
    font-style: italic;
}
  
.search-form input:focus {
    outline: none;
    border: 1px solid #123D15;
    box-shadow: 0 0 8px rgba(66, 202, 39, 0.7);
}
  
.search-icon {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, filter 0.2s;
    filter: brightness(0.8);
}
  
.search-icon:hover {
    transform: scale(1.1);
    filter: brightness(1);
}

.globe-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    padding-top: 0;
    padding-right: 0;
    flex-wrap: nowrap;
    width: 100%;
}

.country-container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 

    max-width: 600px;
}

.country-placeholder,
.country-card{
    grid-column: 1 / -1;
    grid-row: 1 / -1; 
}

.country-placeholder {
    z-index: 1;

    max-width: 600px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.country-card {
    z-index: 2;

    opacity: 0;
    pointer-events: none;
    padding: 32px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    background-color: var(--background-dark);
    border-radius: 16px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4);
    color: white;
    max-width: 600px;
    height: 100%;
  }
  
.country-card.show {
    opacity: 1;
    pointer-events: auto;
    animation: scaleUp 0.5s ease-out forwards;
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleUp {
    from {
      opacity: 0;
      transform: scaleX(0);
    }
    to {
      opacity: 1;
      transform: scaleX(1);
    }
  }

.country-info{
    visibility: hidden;
}

.country-info.show {
    visibility: visible;
    animation: fadeInSlideUp 0.5s ease-out forwards;
}


.country{
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 32px;
    width: 100%;
}

.country-card h2 {
    font-size: 28px;
    margin-bottom: 16px;
    text-align: left;
}

.ip-table table {
    width: 100%;
    font-family: monospace;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}

.ip-table thead th {
    text-align: center;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.ip-table tbody tr {
    display: table-row;
}

.ip-table tbody td:nth-child(1),
.ip-table thead th:nth-child(1) {
    text-align: left;
    width: 128px;
}

.ip-table tbody td:nth-child(2) {
    text-align: center;
}

.ip-table tbody td:nth-child(3),
.ip-table thead th:nth-child(3) {
    text-align: center;
}

.map-stats {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.map-stats img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.map-stats .rank {
    font-size: 18px;
}

.map-stats .rank strong {
    font-size: 32px;
}

.ip-scroll {
    max-height: 312px;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.ip-scroll::-webkit-scrollbar {
    display: none;
}

.globe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1.5;
    max-width: 700px;
    aspect-ratio: 1 / 1;
}

@media screen and (max-width: 600px) {
    html, body {
        overflow: scroll;
    }

    .globe-container {
        flex-direction: column;
        padding: 0;
    }

    .ip-scroll {
        overflow-x: auto;
    }

    .ip-table table td {
        word-break: break-word;
    }

    .country-card{
        display: flex;
    }

    .country-placeholder {
        display: none;
    }

    .country {
        flex-direction: column;
    }

    .search-container{
        width: 100%;
    }

    .country-card{
        width: 100%;
        margin-top: 16px;
    }

    .globe{
        display: none;
    }
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

.dg.a {
    margin-top: 10px;
    width: 100%;
}

.app-wrapper {
    position: relative;
    left: 0;
    top: 0;
}

.markers {
    position: relative;
    padding: 0;
    list-style-type: none;
}

.marker {
    color: white;
    font-weight: 300;
    font-size: 14px;
}

.marker:before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    position: absolute;
    left: 50%;
    top: -50%;
}