
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow: scroll;
    height: 100%;
}

:root {
    --primary-color: #123d15;
    --secondary-color: #3d3d12;
    --background-dark: #1E1E1E;
    --background-light: #aaa;
    --background-general: #181818;
    --text-light: #ffffff;
    --dark-red: #3d1712;
    --dark-green: #1A5D2B;
    --light-green: #66BB6A;
    --light-yellow: #B5BB66;
    --light-red: #bb6666;
}

body {
    font-family: Arial, sans-serif;
    background-color: 
        var(--background-general);
    color: var(--text-light);
    text-align: center;
    padding-top: 72px; 
    padding-bottom: 72px; 
}


header, footer {
    background-color: 
        var(--background-dark);
    padding: 20px 20px;
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 1000;
}

header {
    border-bottom: 2px solid var(--primary-color);
    top: 0;
}

footer {
    border-top: 2px solid var(--primary-color);
    bottom: 0;
}

header nav, footer nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.left-header, .right-header {
    list-style: none;
    display: flex;
    gap: 2vw;
    height: 36px;
}

.left-footer, .right-footer{
    list-style: none;
    height: 20px;
}

.right-header, .right-footer {
    margin-left: auto;
}

header ul li a img {
    height: 32px;
    width: auto;
    padding: 2px;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

header ul li a img.selected, header ul li a img:hover {
    opacity: 1;
}

footer ul li a {
    text-decoration: none;
    color: var(--text-light);
    font-size: 14px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

footer ul li a:hover {
    opacity: 1;
}

header ul li:not(:last-child),
footer ul li:not(:last-child) {
    border-right: 2px solid var(--primary-color); 
    padding-right: 2vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button {
    margin-top: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-light);
    padding: 10px 32px;
    border-radius: 24px;
    display: inline-block;
    transition: background 0.3s, transform 0.2s;
    border-width: 2px;
    border-style: solid;
}

.button :hover {
    transform: scale(1.05);
}


.elevated-card {
    background-color: 
            var(--background-dark);
    padding: 16px 24px;
    border-radius: 16px;
    box-shadow: 6px 6px 12px 
            rgba(0, 0, 0, 0.4);
    text-align: center;
    width: fit-content;
    margin: 16px auto;
}

.title-card {
    display: inline-block;
    width: fit-content;
    padding: 12px 24px;
    border-radius: 24px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin: 0 0;
}

.title-card {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.content-card {
    text-align: center;
    line-height: 1.6;
    font-size: 16px;
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px){
    .content-card{
        max-width: 100%;
    }
    html,body{
        overflow: scroll;
        padding-right: 8px;
        padding-left: 8px;
    }
    main{
        gap: 0px;
    }
    .elevated-card{
        margin: 0;
    }   
}














