h2 {
    font-size: 20px;
    font-weight: bold;
}

main{
    gap: 12px;
}

.list-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.elevated-card{
    color: white;
    max-width: 100%;
}

.user-card {
    text-align: center;
    color: white;
    min-width: 250px;
}

.user-card img {
    display: block;
    margin: 0 auto 8px;
}

.user-card .email {
    color: #ccc;
    font-size: 14px;
    display: block;
    margin-top: 4px;
    text-decoration: underline;
}

.button.welcome{
    background-color: var(--primary-color);
    border-color: var(--light-green);
}

.button.welcome:hover{
    background-color: var(--light-green);
}

.title-card{
    margin-bottom: 20px;
}

.description{
    width: 60%;
    column-count: 3;
    column-gap: 32px;
    text-align: justify;
}

@media screen and (max-width: 600px){
    .description{
        column-count: 1;
    }

    .list-card{
        flex-direction: column;

    }

    .elevated-card{
        width: 100%;
    }
}
